# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Env
.env
*.env

# Database
db.sqlite3

# Virtual environments
venv/
ENV/
env/
.venv/

# IDEs
.idea/
.vscode/

# Static and media files
staticfiles/
media/
