<!-- includes/footer.html -->
<section id="contacts" class="footer">
    <div class="footer-col">
      <h4 style="font-weight:normal;">Let's keep in touch!</h4>
      <div class="icons">
          <a href="https://www.instagram.com/hikamfajduani/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/hikamfajduani/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/hikamfajduani" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </div>
</section>
